@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #191B1F;
}

.wave-effect {
    animation: waveAnimation 2s infinite alternate;
    z-index: 0;
    /* Set a higher z-index value */
}


@keyframes waveAnimation {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(20px);
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #191B1F;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1E69FF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.gradient-border {
    --borderWidth: 1px;
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    /*background: linear-gradient(60deg, #5E5156, #C9C1B8, #767375, #454344, #201C1F);*/
    background: linear-gradient(60deg, #BD9B73, #8F5B57, #3C3D5C, #565E54, #968768);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


