@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #191B1F;
}

.wave-effect {
  animation: waveAnimation 2s infinite alternate;
  z-index: 0;
  /* Set a higher z-index value */
}


@keyframes waveAnimation {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(20px);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #191B1F;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1E69FF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}